<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TestFilterSorting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_FilterOnly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_SortingOnly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_FilterSortingInValidData1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_FilterSortingValidData2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_FilterSortingValidData1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
