<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RunAllTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:09:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestFilterSorting.setup()[pri:0, instance:test.TestFilterSorting@2e005c4b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:09:59</td>   <td>1995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterSortingValidData1()[pri:0, instance:test.TestFilterSorting@2e005c4b]">test_FilterSortingValidData1</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:09:59</td>   <td>2489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterSortingValidData2()[pri:1, instance:test.TestFilterSorting@2e005c4b]">test_FilterSortingValidData2</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:10:00</td>   <td>2909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterSortingInValidData1()[pri:2, instance:test.TestFilterSorting@2e005c4b]">test_FilterSortingInValidData1</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:10:10</td>   <td>13163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterOnly()[pri:3, instance:test.TestFilterSorting@2e005c4b]">test_FilterOnly</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:10:10</td>   <td>13409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_SortingOnly()[pri:4, instance:test.TestFilterSorting@2e005c4b]">test_SortingOnly</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="a66a6a">  <td>21/05/12 23:10:10</td>   <td>13626</td> <td>&nbsp;</td><td title="&lt;&lt;TestFilterSorting.teardown()[pri:0, instance:test.TestFilterSorting@2e005c4b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
</table>
