<h2>Reporter output</h2><table><tr><td>Running Tests: test_FilterSortingValidData1</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Entering filer data: w</td></tr>
<tr><td>Selecting sortby: cases</td></tr>
<tr><td>Filtered rows are available, Validating data..</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Filtered rows are available, Validated data..</td></tr>
<tr><td>Sorted rows are available, Validating data..</td></tr>
<tr><td>Sorted rows are available, Validated data..</td></tr>
<tr><td>Test Completed: test_FilterSortingValidData1</td></tr>
<tr><td>Running Tests: test_FilterSortingValidData2</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Entering filer data: a</td></tr>
<tr><td>Selecting sortby: averageImpact</td></tr>
<tr><td>Filtered rows are available, Validating data..</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Filtered rows are available, Validated data..</td></tr>
<tr><td>Sorted rows are available, Validating data..</td></tr>
<tr><td>Sorted rows are available, Validated data..</td></tr>
<tr><td>Test Completed: test_FilterSortingValidData2</td></tr>
<tr><td>Running Tests: test_FilterSortingInValidData1</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Entering filer data: abc</td></tr>
<tr><td>Selecting sortby: cases</td></tr>
<tr><td>No data rows are available for filer: abc</td></tr>
<tr><td>Running Tests: test_FilterOnly</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Entering filer data: i</td></tr>
<tr><td>Filtered rows are available, Validating data..</td></tr>
<tr><td>Clearing filter box</td></tr>
<tr><td>Filtered rows are available, Validated data..</td></tr>
<tr><td>Test Completed: test_FilterOnly</td></tr>
<tr><td>Running Tests: test_SortingOnly</td></tr>
<tr><td>Selecting sortby: cases</td></tr>
<tr><td>Sorted rows are available, Validating data..</td></tr>
<tr><td>Sorted rows are available, Validated data..</td></tr>
<tr><td>Test Completed: test_SortingOnly</td></tr>
</table>