<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b1776b">  <td>21/05/10 23:55:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestFilterSorting.setup()[pri:0, instance:test.TestFilterSorting@72057ecf]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>21/05/10 23:55:52</td>   <td>8963</td> <td>&nbsp;</td><td title="&lt;&lt;TestFilterSorting.teardown()[pri:0, instance:test.TestFilterSorting@72057ecf]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>21/05/10 23:55:46</td>   <td>3280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterSorting()[pri:0, instance:test.TestFilterSorting@72057ecf]">test_FilterSorting</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>21/05/10 23:55:49</td>   <td>6087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFilterSorting.test_FilterSorting1()[pri:1, instance:test.TestFilterSorting@72057ecf]">test_FilterSorting1</td> 
  <td>main@1525919705</td>   <td></td> </tr>
</table>
